# Preço de Celular Móvel

[https://www.kaggle.com/datasets/howisusmanali/mobile-prices-2023](https://www.kaggle.com/datasets/howisusmanali/mobile-prices-2023)

Objetivo de prever o valor dos telefones móveis

In [298]:
# importar o pandas e numpy
import pandas as pd
import numpy as np

In [299]:
# ler a base de dados
tabela = pd.read_csv('mobile_prices_2023.csv')
tabela.head(3)

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR,Date of Scraping
0,"POCO C50 (Royal Blue, 32 GB)",4.2,"33,561",2 GB RAM,32 GB ROM,8MP Dual Camera,5MP Front Camera,5000 mAh,"Mediatek Helio A22 Processor, Upto 2.0 GHz Pro...","₹5,649",2023-06-17
1,"POCO M4 5G (Cool Blue, 64 GB)",4.2,"77,128",4 GB RAM,64 GB ROM,50MP + 2MP,8MP Front Camera,5000 mAh,Mediatek Dimensity 700 Processor,"₹11,999",2023-06-17
2,"POCO C51 (Royal Blue, 64 GB)",4.3,"15,175",4 GB RAM,64 GB ROM,8MP Dual Rear Camera,5MP Front Camera,5000 mAh,Helio G36 Processor,"₹6,999",2023-06-17

In [300]:
# informação da tabela
tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1836 entries, 0 to 1835
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Phone Name         1836 non-null   object
 1   Rating ?/5         1836 non-null   float64
 2   Number of Ratings  1836 non-null   object
 3   RAM                1836 non-null   object
 4   ROM/Storage        1662 non-null   object
 5   Back/Rare Camera   1827 non-null   object
 6   Front Camera       1435 non-null   object
 7   Battery            1826 non-null   object
 8   Processor          1781 non-null   object
 9   Price in INR       1836 non-null   object
 10  Date of Scraping   1836 non-null   object
dtypes: float64(1), object(10)
memory usage: 157.9+ KB

In [301]:
# verificando os tipos das variaveis
tabela.dtypes

Phone Name            object
Rating ?/5           float64
Number of Ratings     object
RAM                   object
ROM/Storage           object
Back/Rare Camera      object
Front Camera          object
Battery               object
Processor             object
Price in INR          object
Date of Scraping      object
dtype: object

## Transformando String em números

In [302]:
lis_ava = []
for num in tabela['Number of Ratings']:
    num = int(num.replace(',', ''))
    lis_ava.append(num)

avaliacoes = pd.DataFrame(lis_ava, columns=['Avalicoes'])
tabela = pd.concat([tabela, avaliacoes], axis=1)

In [303]:
tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1836 entries, 0 to 1835
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Phone Name         1836 non-null   object
 1   Rating ?/5         1836 non-null   float64
 2   Number of Ratings  1836 non-null   object
 3   RAM                1836 non-null   object
 4   ROM/Storage        1662 non-null   object
 5   Back/Rare Camera   1827 non-null   object
 6   Front Camera       1435 non-null   object
 7   Battery            1826 non-null   object
 8   Processor          1781 non-null   object
 9   Price in INR       1836 non-null   object
 10  Date of Scraping   1836 non-null   object
 11  Avalicoes          1836 non-null   int64
dtypes: float64(1), int64(1), object(10)
memory usage: 172.2+ KB

In [304]:
lis_preco = []
for num in tabela['Price in INR']:
    num = float(num[1:].replace(',', ''))
    lis_preco.append(num)

preco = pd.DataFrame(lis_preco, columns=['Preco'])
tabela = pd.concat([tabela, preco], axis=1)

In [305]:
tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1836 entries, 0 to 1835
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Phone Name         1836 non-null   object
 1   Rating ?/5         1836 non-null   float64
 2   Number of Ratings  1836 non-null   object
 3   RAM                1836 non-null   object
 4   ROM/Storage        1662 non-null   object
 5   Back/Rare Camera   1827 non-null   object
 6   Front Camera       1435 non-null   object
 7   Battery            1826 non-null   object
 8   Processor          1781 non-null   object
 9   Price in INR       1836 non-null   object
 10  Date of Scraping   1836 non-null   object
 11  Avalicoes          1836 non-null   int64
 12  Preco              1836 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 186.6+ KB

In [306]:
tabela.columns

Index(['Phone Name', 'Rating ?/5', 'Number of Ratings', 'RAM', 'ROM/Storage',
       'Back/Rare Camera', 'Front Camera', 'Battery', 'Processor',
       'Price in INR', 'Date of Scraping', 'Avalicoes', 'Preco'],
      dtype='object')

In [307]:
tabela.columns = ['Phone Name', 'Rating ?/5', 'Number of Ratings', 'RAM', 'ROM/Storage',
       'Back/Rare Camera', 'Front Camera', 'Battery', 'Processor',
       'Price in INR', 'Date of Scraping', 'Num-avaliações', 'Preco']

In [308]:
tabela.head(3)

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR,Date of Scraping,Num-avaliações,Preco
0,"POCO C50 (Royal Blue, 32 GB)",4.2,"33,561",2 GB RAM,32 GB ROM,8MP Dual Camera,5MP Front Camera,5000 mAh,"Mediatek Helio A22 Processor, Upto 2.0 GHz Pro...","₹5,649",2023-06-17,33561,5649.0
1,"POCO M4 5G (Cool Blue, 64 GB)",4.2,"77,128",4 GB RAM,64 GB ROM,50MP + 2MP,8MP Front Camera,5000 mAh,Mediatek Dimensity 700 Processor,"₹11,999",2023-06-17,77128,11999.0
2,"POCO C51 (Royal Blue, 64 GB)",4.3,"15,175",4 GB RAM,64 GB ROM,8MP Dual Rear Camera,5MP Front Camera,5000 mAh,Helio G36 Processor,"₹6,999",2023-06-17,15175,6999.0

## Tratamento de números vazios

In [309]:
# verificar valores vazios
tabela.isnull().sum()

Phone Name             0
Rating ?/5             0
Number of Ratings      0
RAM                    0
ROM/Storage          174
Back/Rare Camera       9
Front Camera         401
Battery               10
Processor             55
Price in INR           0
Date of Scraping       0
Num-avaliações         0
Preco                  0
dtype: int64

In [310]:
tabela['ROM/Storage'].mode()[0]

'128 GB ROM'

In [311]:
tabela['ROM/Storage'].fillna(tabela['ROM/Storage'].mode()[0], inplace=True)

In [312]:
tabela['Front Camera'].mode()[0]

'16MP Front Camera'

In [313]:
tabela['Front Camera'].fillna(tabela['Front Camera'].mode()[0], inplace=True)

In [314]:
tabela['Processor'].mode()[0]

'1 Year Warranty for Phone and 6 Months Warranty for In-Box Accessories'

In [315]:
tabela['Processor'].fillna(tabela['Processor'].mode()[0], inplace=True)

In [316]:
tabela.dropna(inplace=True)

In [317]:
tabela.isnull().sum()

Phone Name           0
Rating ?/5           0
Number of Ratings    0
RAM                  0
ROM/Storage          0
Back/Rare Camera     0
Front Camera         0
Battery              0
Processor            0
Price in INR         0
Date of Scraping     0
Num-avaliações       0
Preco                0
dtype: int64

## Filtrando apenas colunas numéricas

In [318]:
tabela.columns[tabela.dtypes == 'object']

Index(['Phone Name', 'Number of Ratings', 'RAM', 'ROM/Storage',
       'Back/Rare Camera', 'Front Camera', 'Battery', 'Processor',
       'Price in INR', 'Date of Scraping'],
      dtype='object')

In [319]:
tabela2 = tabela.drop(tabela.columns[tabela.dtypes == 'object'], axis=1)

In [320]:
tabela2.shape

(1826, 3)

In [321]:
tabela2.head(2)

   Rating ?/5  Num-avaliações    Preco
0         4.2           33561   5649.0
1         4.2           77128  11999.0

In [322]:
X = tabela2.drop('Preco', axis=1)
y = tabela2['Preco']

In [323]:
X.shape, y.shape

((1826, 2), (1826,))

## Separando dados de treino e teste

In [324]:
from sklearn.model_selection import train_test_split

In [325]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [326]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((1278, 2), (1278,), (548, 2), (548,))

## Treinamento dos modelos

### Regressão Linear

[https://scikit-learn.org/stable/modules/linear_model.html#ordinary-least-squares](https://scikit-learn.org/stable/modules/linear_model.html#ordinary-least-squares)
### Arvore de Decisão
[https://scikit-learn.org/stable/modules/tree.html#regression](https://scikit-learn.org/stable/modules/tree.html#regression)
### Knn
[https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsRegressor.html#sklearn.neighbors.KNeighborsRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsRegressor.html#sklearn.neighbors.KNeighborsRegressor)

## Regressão Linear

In [327]:
# modelo regressão linear
from sklearn import linear_model

In [328]:
# trenamento do modelo
reg_lin = linear_model.LinearRegression()
reg_lin.fit(X_train, y_train)

LinearRegression()

In [329]:
previsao_train = reg_lin.predict(X_train)
previsao_train

array([26299.39674618, 20233.83681175, 24861.60393778, ...,
       27292.55809784, 26377.9503078 , 24472.32118798])

In [330]:
previsao_teste = reg_lin.predict(X_test)

In [331]:
reg_lin.score(X_train, y_train), reg_lin.score(X_test, y_test)

(0.056637732932829477, 0.013306216212181088)

In [332]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [333]:
np.sqrt(mean_squared_error(y_test, previsao_teste))

24594.192703937693

## Arvore de Decisão

In [334]:
from sklearn import tree

In [335]:
clf = tree.DecisionTreeRegressor(max_depth=9)
clf = clf.fit(X_train, y_train)

In [336]:
previsoes_treino = clf.predict(X_train)

In [337]:
previsoes_teste = clf.predict(X_test)

In [338]:
clf.score(X_train, y_train), clf.score(X_test, y_test)

(0.8872049462588838, 0.777805948780187)

In [339]:
np.sqrt(mean_squared_error(y_test, previsoes_teste))

11670.98710475225

## KNN

In [340]:
from sklearn.neighbors import KNeighborsRegressor

In [341]:
knn_reg = KNeighborsRegressor(n_neighbors=2)
knn_reg.fit(X, y)

KNeighborsRegressor(n_neighbors=2)

In [342]:
previsoes_treino = knn_reg.predict(X_train)

In [343]:
previsoes_teste = knn_reg.predict(X_test)

In [344]:
knn_reg.score(X_train, y_train), knn_reg.score(X_test, y_test)

(0.9195163446572718, 0.9414286564006864)

In [345]:
np.sqrt(mean_squared_error(y_test, previsoes_teste))

5992.167831906073

## Teste de outras colunas

In [346]:
tabela.head(2)

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR,Date of Scraping,Num-avaliações,Preco
0,"POCO C50 (Royal Blue, 32 GB)",4.2,"33,561",2 GB RAM,32 GB ROM,8MP Dual Camera,5MP Front Camera,5000 mAh,"Mediatek Helio A22 Processor, Upto 2.0 GHz Pro...","₹5,649",2023-06-17,33561,5649.0
1,"POCO M4 5G (Cool Blue, 64 GB)",4.2,"77,128",4 GB RAM,64 GB ROM,50MP + 2MP,8MP Front Camera,5000 mAh,Mediatek Dimensity 700 Processor,"₹11,999",2023-06-17,77128,11999.0

In [347]:
tabela3 = tabela.drop(['Phone Name', 'Number of Ratings', 'Price in INR', 'Date of Scraping'], axis=1)

In [348]:
tabela3.head(2)

,Rating ?/5,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Num-avaliações,Preco
0,4.2,2 GB RAM,32 GB ROM,8MP Dual Camera,5MP Front Camera,5000 mAh,"Mediatek Helio A22 Processor, Upto 2.0 GHz Pro...",33561,5649.0
1,4.2,4 GB RAM,64 GB ROM,50MP + 2MP,8MP Front Camera,5000 mAh,Mediatek Dimensity 700 Processor,77128,11999.0

In [349]:
tabela3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1826 entries, 0 to 1835
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rating ?/5        1826 non-null   float64
 1   RAM               1826 non-null   object
 2   ROM/Storage       1826 non-null   object
 3   Back/Rare Camera  1826 non-null   object
 4   Front Camera      1826 non-null   object
 5   Battery           1826 non-null   object
 6   Processor         1826 non-null   object
 7   Num-avaliações    1826 non-null   int64
 8   Preco             1826 non-null   float64
dtypes: float64(2), int64(1), object(6)
memory usage: 142.7+ KB

## Dimensionar valores

In [350]:
tabela3['RAM'].value_counts().head(3)

8 GB RAM    438
4 GB RAM    383
6 GB RAM    322
Name: RAM, dtype: int64

In [351]:
lis_ram = ['8 GB RAM', '4 GB RAM', '6 GB RAM']

In [352]:
tabela3['RAM'] = tabela3['RAM'].apply(lambda x: 'outros' if x not in lis_ram else x)

In [353]:
tabela3['RAM'].value_counts()

outros      683
8 GB RAM    438
4 GB RAM    383
6 GB RAM    322
Name: RAM, dtype: int64

In [354]:
tabela3['ROM/Storage'].value_counts().head(3)

128 GB ROM    853
64 GB ROM     401
32 GB ROM     210
Name: ROM/Storage, dtype: int64

In [355]:
lis_rom = ['128 GB ROM', '64 GB ROM', '32 GB ROM']

In [356]:
tabela3['ROM/Storage'] = tabela3['ROM/Storage'].apply(lambda x: 'outros' if x not in lis_rom else x)

In [357]:
tabela3['ROM/Storage'].value_counts()

128 GB ROM    853
64 GB ROM     401
outros        362
32 GB ROM     210
Name: ROM/Storage, dtype: int64

In [358]:
tabela3['Back/Rare Camera'].value_counts().head(3)

50MP Rear Camera    101
13MP Rear Camera     93
12MP + 12MP          81
Name: Back/Rare Camera, dtype: int64

In [359]:
lis_atras = ['50MP Rear Camera', '13MP Rear Camera', '12MP + 12MP']

In [360]:
tabela3['Back/Rare Camera'] = tabela3['Back/Rare Camera'].apply(lambda x: 'outros' if x not in lis_atras else x)

In [361]:
tabela3['Back/Rare Camera'].value_counts()

outros              1551
50MP Rear Camera     101
13MP Rear Camera      93
12MP + 12MP           81
Name: Back/Rare Camera, dtype: int64

In [362]:
tabela3['Front Camera'].value_counts().head(3)

16MP Front Camera    723
8MP Front Camera     307
5MP Front Camera     273
Name: Front Camera, dtype: int64

In [363]:
lis_frontal = ['16MP Front Camera', '8MP Front Camera', '5MP Front Camera']

In [364]:
tabela3['Front Camera'] = tabela3['Front Camera'].apply(lambda x: 'outros' if x not in lis_frontal else x)

In [365]:
tabela3['Front Camera'].value_counts()

16MP Front Camera    723
outros               523
8MP Front Camera     307
5MP Front Camera     273
Name: Front Camera, dtype: int64

In [366]:
tabela3['Battery'].value_counts().head(3)

5000 mAh    786
4500 mAh    148
6000 mAh    113
Name: Battery, dtype: int64

In [367]:
lis_bateria = ['5000 mAh', '4500 mAh', '6000 mAh']

In [368]:
tabela3['Battery'] = tabela3['Battery'].apply(lambda x: 'outros' if x not in lis_bateria else x)

In [369]:
tabela3['Battery'].value_counts()

5000 mAh    786
outros      779
4500 mAh    148
6000 mAh    113
Name: Battery, dtype: int64

In [370]:
tabela3['Processor'].value_counts().head(3)

1 Year Warranty for Phone and 6 Months Warranty for In-Box Accessories    92
Qualcomm Snapdragon 680 Processor                                         45
Brand Warranty for 1 Year                                                 40
Name: Processor, dtype: int64

In [371]:
lis_processador = [
    '1 Year Warranty for Phone and 6 Months Warranty for In-Box Accessories',
    'Qualcomm Snapdragon 680 Processor',
    'Brand Warranty for 1 Year'
]

In [372]:
tabela3['Processor'] = tabela3['Processor'].apply(lambda x: 'outros' if x not in lis_processador else x)

In [373]:
tabela3['Processor'].value_counts()

outros                                                                    1649
1 Year Warranty for Phone and 6 Months Warranty for In-Box Accessories      92
Qualcomm Snapdragon 680 Processor                                           45
Brand Warranty for 1 Year                                                   40
Name: Processor, dtype: int64

In [374]:
tabela3.head(2)

,Rating ?/5,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Num-avaliações,Preco
0,4.2,outros,32 GB ROM,outros,5MP Front Camera,5000 mAh,outros,33561,5649.0
1,4.2,4 GB RAM,64 GB ROM,outros,8MP Front Camera,5000 mAh,outros,77128,11999.0

## Transformando dados em numéricos com labelecoder

In [375]:
from sklearn import preprocessing

In [376]:
le = preprocessing.LabelEncoder()

In [383]:
tabela3['RAM'] = le.fit_transform(tabela3.RAM)
tabela3['ROM/Storage'] = le.fit_transform(tabela3['ROM/Storage'])
tabela3['Back/Rare Camera'] = le.fit_transform(tabela3['Back/Rare Camera'])
tabela3['Front Camera'] = le.fit_transform(tabela3['Front Camera'])
tabela3['Battery'] = le.fit_transform(tabela3['Battery'])
tabela3['Processor'] = le.fit_transform(tabela3['Processor'])

In [384]:
tabela3

,Rating ?/5,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Num-avaliações,Preco
0,4.2,3,1,3,1,1,3,33561,5649.0
1,4.2,0,2,3,2,1,3,77128,11999.0
2,4.3,0,2,3,1,1,3,15175,6999.0
3,4.2,0,2,3,1,1,3,22621,7749.0
4,4.3,0,2,3,1,1,3,15175,6999.0
...,...,...,...,...,...,...,...,...,...
1831,4.3,0,2,3,0,1,3,25582,14999.0
1832,4.3,0,2,3,0,1,3,25582,14999.0
1833,4.3,0,2,3,0,1,3,25582,14999.0
1834,4.2,2,0,3,3,0,3,7117,18999.0
1835,4.3,0,2,3,3,3,3,15701,10999.0

## Separar treino e teste

In [385]:
X = tabela3.drop('Preco', axis=1)
y = tabela3['Preco']

In [386]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

## Criar o modelo

## Regressão Linear

In [387]:
reg = linear_model.LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [388]:
previsoes_treino = reg.predict(X_train)

In [389]:
previsoes_teste = reg.predict(X_test)

In [390]:
reg.score(X_train, y_train), reg.score(X_test, y_test)

(0.3970427021293965, 0.4139751798630572)

In [391]:
np.sqrt(mean_squared_error(y_test, previsoes_teste))

18953.93472418116

## Arvore de decisão

In [647]:
clf = tree.DecisionTreeRegressor(max_depth=10)
clf = clf.fit(X_train, y_train)

In [648]:
previsoes_treino = clf.predict(X_train)

In [649]:
previsoes_teste = clf.predict(X_test)

In [650]:
clf.score(X_train, y_train), clf.score(X_test, y_test)

(0.9650205350314897, 0.8938865492072712)

In [651]:
np.sqrt(mean_squared_error(y_test, previsoes_teste))

8065.412694631307

## KNN

In [720]:
knn = KNeighborsRegressor(n_neighbors=6)

In [721]:
knn.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=6)

In [722]:
previsoes_treino = knn.predict(X_train)

In [723]:
previsoes_teste = knn.predict(X_test)

In [724]:
knn.score(X_train, y_train), knn.score(X_test, y_test)

(0.6571186239164681, 0.6192843899330467)

In [725]:
np.sqrt(mean_squared_error(y_test, previsoes_teste))

15277.128004825754